//META{"name":"Royal Purple Eclipse","version":"1","author":"Alucard","description":"A simple lookin purple theme with a nice view to look at. Used ClearVison_Sapphire by @Zerthox & Elegant Blue V1 by @Arch for specific elements. Thank you Arch for allowing me to use and modify his scrollbar."}*//{}
/* "Royal Purple Eclipse" by @Alucard */
/* Used "ClearVision - Sapphire v5.24" by @Zerthox and "Elegant Blue V1" by @Arch for specific elements and examples*/

/* IMPORT CSS FROM GITHUB */
@import url(https://gitcdn.xyz/repo/Zerthox/ClearVision/master/css/ClearVision_v5.min.css);
/*
============== CUSTOM COLORS ===============
*/
:root {
	--main-color: #2780e6;
	--hover-color: #1e63b3;
}
/*
========= REPLACE THE THEME LINK WITH YOURS ==========
*/
{
    background-image: url(https://github.com/Vortexcellent/Royal-Purple-Eclipse/blob/master/pse.jpg) !important; /* IMPORTANT: Link needs be HTTPS, I recommend Imgur */
}
.nameDefaultText-QoumjC, .nameDefaultVoice-1swZoh {
    color: #A314EB;
}
.nameUnreadText-1pxldj, .nameUnreadVoice-QK4gxH {
    color: #F051BB;
}

.mention {
    color: #000!important;
    background: rgba(163,20,235,1)!important;
    font-weight: 500;
    transition: background-color .05s,color .05s;
}
.friends-table .messages .message-group .comment .markup .mention:hover, .messages-wrapper .messages .message-group .comment .markup .mention:hover, .theme-dark .friends-table .messages .message-group .comment .markup .mention:hover, .theme-dark .messages-wrapper .messages .message-group .comment .markup .mention:hover {
    background: rgba(163,20,235,0.5)!important;
}
#app-mount .container-iksrDt {
 transform: scale(1.0);
}
.content .flex-spacer, .content > .ui-flex {
    background: rgba(0,0,0,0.0);
}
.channels-wrap {
    background: none;
}
.channel-members, .search-results-wrap {
    background: none!important;
}
.friends-table {
    background: rgba(0,0,0,0.0)!important;
    margin-top: 0!important;
}
.friends-header {
    background: rgba(0,0,0,0.0)!important;
}
.title-wrap {
    background: rgba(0,0,0,0.0)!important;
    border-bottom: 1px solid transparent!important;
}

.channel-members h2 {
    color: var(--main-color)!important;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-weight: 700;
    padding: 4px 8px;
    background-color: rgba(0,0,0,0.0);
    border: 1px solid;
    border-color: transparent;
    border-radius: 3px;
    width: 190px;
    margin-left: 15px;
    text-align: center;
}
.guilds-wrapper .guilds .friends-icon{
    background-image:url(https://cdn.rawgit.com/NFLD99/50853d39b0dd5760f55c399c35ba1fc3/raw/bc3e30293037dfc081f993e0e47b99f2dc7ddc60/Alucard.svg) ;
    }
.guilds-wrapper .guilds .friends-icon:before,
.guilds-wrapper .guilds .friends-icon:after {
    display: none;
}
.friends-icon {
    background-color: rgba(163,20,235,1);
}  
.theme-dark .inner-3if5cm {
    background-color: hsla(280,85%,50%,.5);
}
.theme-dark .textArea-20yzAH {
    color: #F051BB;
}
.theme-dark .autocomplete-1TnWNR { background: rgba(163,20,235,1); 
}
.theme-dark .selectorSelected-2M0IGv { background: rgba(240,81,187,1); 
}
.guild{
    margin-left:-3px;
}

.guild:before{
       left:1px!important;
         z-index:1;
}
.guilds-wrapper .guilds .guild.unread:not(.selected)::before {
    margin-top: -5px;
    margin-left: -15px;
}
.guilds-wrapper .guilds .guild.selected::before {
    background: (163,20,235,1)!important;
    margin-left: -17px;
}
.guilds-wrapper {
    width:80px;
}
.guilds-wrapper .scroller-wrap {
    width: 79px;
}
#app-mount ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(240,81,187,1)!important;
    border: 2px solid rgba(240,81,187,1)!important;
}
#app-mount ::-webkit-scrollbar-thumb {
    background-color: rgba(163,20,235,0.3)!important;
    border: 2px solid rgba(240,81,187,1)!important;
    border-radius: 0;
}
#app-mount ::-webkit-scrollbar, #app-mount ::-webkit-scrollbar-track, #app-mount ::-webkit-scrollbar-track-piece {
    background-color: transparent!important;
    border-color: transparent!important;
    border-radius: 0!important;
}
.scroller-wrap .scroller::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
.guilds-wrapper .guilds .guild.selected::before, .guilds-wrapper .guilds .guild.unread::before {
    background: rgba(163,20,235,1)!important;
}
.channels-wrap [class*="scroller-"] [class*="Text"][class*="content"][class*="Selected"] {
    background-color: rgba(163,20,235,1)!important;
}
.nameSelectedText-32NDX5, .nameSelectedVoice-XpjYTw {
    color: #F051BB;
}
.colorDefaultText-2v6rRX, .colorDefaultVoice-1x4dEl, .colorHoveredText-1CsxK1, .colorHoveredVoice-1P3kui, .colorLockedText-2onHWv, .colorLockedVoice-2VCSgk, .colorSelectedText-3YhFC6, .colorSelectedVoice-ieXC3Z, .colorUnreadText-1KwCnP, .colorUnreadVoice-1Ztv9I {
    color: #fff;
}
.channels-wrap [class*="scroller-"] [class*="Text"][class*="content"][class*="Selected"] svg path {
    fill: #fff;
}
.chat .new-messages-bar button:first-child {
  background-color: rgba(163,20,235,.5)
}
.chat .new-messages-bar button:last-child {
    color: #F051BB;
    background-color: rgba(163,20,235,0.498039);
}
.chat .divider.divider-red > span::before {
    background-color: rgba(163,20,235,1);
}
.channels-wrap [class*="scroller-"] [class*="Text"] [class*="unread-"] + div [class*="marginReset"]:first-child svg path {
    fill: #fff;
    opacity: 1!important;
}
.channels-wrap [class*="scroller-"] [class*="Text"][class*="content"][class*="Selected"] {
    background-color: transparent !important;
    border: 2px solid #F051BB;
    border-radius: 0 15px 15px 0;
}
.theme-dark .friends-table .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked {
    display: none;
}
/*
------------------------------------------------------------------------------------------
*/
