//META{"name":"Royal_Purple_Eclipse","version":"1","author":"Alucard","description":"A simple lookin purple theme with a nice view to look at. Used ClearVison_Sapphire by @Zerthox & Elegant Blue V1 by @Arch for specific elements. Thank you Arch for allowing me to use and modify his scrollbar."}*//{}
/* "Royal Purple Eclipse" by @Alucard */
/* Used "ClearVision - Sapphire v5.24" by @Zerthox and "Elegant Blue V1" by @Arch for specific elements and examples*/

/* IMPORT CSS FROM GITHUB */
@import url(https://gitcdn.xyz/repo/Vortexcellent/Royal-Purple-Eclipse/master/RoyalPurpleEclipse-v1.min.css);
/*
============== CUSTOM COLORS ===============
*/
:root {
	--main-color: #A314EB;
	--hover-color: #F051BB;
}
/*
========= REPLACE THE THEME LINK WITH YOURS ==========
*/
body::after
{
    background-image: url(https://raw.githubusercontent.com/Vortexcellent/Royal-Purple-Eclipse/master/pse.jpg) !important; /* IMPORTANT: Link needs be HTTPS, I recommend Imgur */
}
